<!DOCTYPE html>{% load static %}
<html>
<head>
	<meta charset="UTF-8">
	<title>GemlDrive</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
	<style>@font-face {font-family: 'Josefin Sans';src: url('{% static 'font/static/JosefinSans-Medium.ttf' %}') format('truetype');}</style>
	<style>
		* {
			margin: 0;
			padding: 0;
		}
		body {
			font-family: 'Josefin Sans', sans-serif;
			background-color: #0D121E;
		}
		.main {
			text-align: center;
			color: white;
			margin-top: 30vh;
		}
		.text {
			font-size: 100px;
		}
		.second {
			font-size: 50px;
		}
	</style>
</head>
<body>
	<div class="main">
		<div class="text">404</div>
		<div class="second">Page not found</div>
	</div>
</body>
</html>